<div id="index">
  <div>
    <% @needs.first(10).each do |need| %>
    <div class="row col-xs-12 col-md-6 col-md-offset-3">
      <div class="need-item">
        <div class="need-img">
            <img src="https://files.slack.com/files-pri/T03N9UL8E-F09B9PSQ1/special_needs_icon_2x.png">
         </div>
         <div class="need-name">
            <a href="/register?need_id=<%= need['id']%>&need_name=<%= need['name'] %>">
              <%= need['name'] %>
            </a>
          </div>
          <div class="need-detail">
            <p>
              info<br>
              address<br>
              passes
            </p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>