// IMPORTS

@import "bourbon/bourbon";

// VARIABLES

$dark-grey: #61697C;
$light-grey: #E3E4E8;
$medium-blue: #1A8DC9;


// GENERAL STYLES

h1 {
  text-align: center;
  margin-bottom: 1em;
  a, a:hover {
    color: $dark-grey;
    text-decoration: none;
  }
}

body {
  background-color: $light-grey;
}

// INDEX PAGE

#index {

  .need-item {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom:1px solid black;
    padding: 10px 0;
  }

  .need-img {
    @include flex(0 6 auto);
    img {
      width: 100%;
    }
  }

  .need-name {
    @include flex(0 4 300px);
    padding: 0 1em;
  }

  .need-detail {
    @include flex(0 1 auto);
  }

  a {
    font-size: 1.2em;
    text-decoration:none;
    color: $medium-blue;
  }
}

#register {
  label span {
    display: block;
    font-weight: normal;
    color: $dark-grey;
  }
  .parsley-error {
    border: 1px solid red;
  }
}

.btn-group .parsley-errors-list {
    float: right;
    margin-top: 4px;

}
