// IMPORTS

@import "bourbon/bourbon";

// VARIABLES

$dark-grey: #61697C;
$light-grey: #E3E4E8;
$medium-blue: #1A8DC9;


// GENERAL STYLES

h1 {
  text-align: center;
  margin-bottom: 1em;
  a, a:hover {
    color: $dark-grey;
    text-decoration: none;
  }
}

body {
  background-color: $light-grey;
  font-style: 16px;
  @media only screen and (max-width: 480px) {
    font-size: 12px;
  }
}

// INDEX PAGE

#index {

  .need-item {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom:1px solid black;
    padding: 10px 0;
  }

  .need-img {
    @include flex(0 3 150px);
    img {
      width: 100%;
    }
  }

  .need-name {
    @include flex(0 2 300px);
    padding: 0 1em;
  }

  .need-detail {
    @include flex(0 3 200px);
    p {
      margin: 0;
    }
  }

  a {
    font-size: 1.2em;
    text-decoration:none;
    color: $medium-blue;
  }
}

#register {
  label span {
    display: block;
    font-weight: normal;
    color: $dark-grey;
  }
  .parsley-error {
    border: 1px solid red;
    /* list-style: none; */
  }
  .parsley-errors-list {
    list-style: none;
    margin-top: 4px;
    padding: 0;

  }

  input[type=date] {
    -webkit-appearance: none;
    line-height: 1.5em;
  }
}

.btn-group .parsley-errors-list {
    float: right;
    margin-top: 4px;

}
